.custom-progress-bar {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 40px auto 70px;
}

@media screen and (max-width: 1350px) {
  .custom-progress-bar {
    width: 50%;
  }
}

.custom-progress-line {
  width: 100%;
  position: relative;
  z-index: 1;
}
.custom-step-container {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}
.custom-step {
  border-radius: 33px;
  width: 30px;
  height: 30px;
  background-color: white;
  color: #857371;
  border: 1px solid #857371;
  position: absolute;
  line-height: 30px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.custom-step::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 57px;
  height: 1px;
  background: #d8c2bf;
  z-index: -1;
  left: 148%;
}

.custom-step:last-child::after {
  content: none;
}

.custom-step.completed {
  text-indent: 100%; /* Move the content off-screen */
  color: transparent;
  background-color: black;
  border-color: black;
  background: url("../../../public/images/checked.png");
  border: none;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
}

select:focus:not(:focus-visible) {
  outline: none;
}
select:focus {
  outline: none;
}

.custom-step.current {
  background-color: #410003;
  color: white;
  border-radius: 33px;
  border-color: black;
  transform: translateX(-50%) scale(1);
  z-index: 99;
}
.custom-step.current::before {
  position: absolute;
  content: "";
  height: 56px;
  width: 56px;
  border: 1px solid #857371;
  top: -14px;
  left: -14px;
  border-radius: 50%;
  z-index: 1;
}

.custom-step.current span {
  color: #1b1b1b !important;
  font-weight: 500;
}

.custom-step:nth-child(1) {
  left: 0;
}

.custom-step:nth-child(2) {
  left: 25%;
}

.custom-step:nth-child(3) {
  left: 50%;
}

.custom-step:nth-child(4) {
  left: 75%;
}

.custom-step:nth-child(5) {
  left: 100%;
}

.step-label {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center;
  color: #999999 !important;
  white-space: nowrap;
}

.custom-step.completed .step-label,
.custom-step.current .step-label {
  color: black;
}

.progressbar-button {
  text-align: center;
}

.progressbar-button button {
  background: none;
  margin: 20px 5px;
  box-shadow: none;
}

/* STYLES FOR CUSTOM RADIO */
input[type="radio"]:checked + label {
  border-color: #9b2c2d;
}

input[type="radio"]:checked + label div {
  border-color: #9b2c2d;
  background-color: #9b2c2d;
}

/**/
